.greatings {
	position: relative;
	top: -5rem;
}

.btn-back {
	text-decoration: none;
	border-radius: 10px;
	background-color: #16c79a;
	padding: 15px 30px;
	margin: 200px;
	color: white;
	font-family: Rubik;
	font-size: 1.2rem;
	font-weight: 400;
	position: relative;
	top: -5rem;
}

.btn-back:hover {
	text-decoration: none;
	border-radius: 10px;
	background-color: #00FFC7;
	padding: 15px 30px;
	margin: 200px;
	color: white;
	font-family: Rubik;
	font-size: 1.2rem;
	font-weight: 400;
	position: relative;
	top: -5rem;
}
