@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

/* All Pages------------------------------*/

body {
	margin: 0;
	font-family: Rubik, sans-serif;
	font-weight: 100;
	text-align: center;
	background-color: white;
}

h1 {
	margin-top: 1rem auto 0 auto;
	font-weight: 400;
	font-size: 3rem;
	text-align: center;
	font-family: Rubik, sans-serif;
	color: #11698e;
	padding-top: 0px;
}

h2 {
	font-family: Rubik;
	font-weight: 400;
	color: #11698e;
	font-size: 1.9rem;
	
}

p {
	font-family: Poppins;
	font-weight: 300;
	color: #404040;
	font-size: 1.1rem;
}

h3 {
	font-family: Poppins;
	font-weight: 400;
	color: #11698e;
	font-size: 1.3rem;

}

hr {
	border-style: dotted none none none;
	border-width: 7px;
	border-color: #16c79a;
	width: 4rem;
	height: 2px;
	margin: 100px auto;
}

/*Start Page-----------------------------*/

.top-container {
	background-color: #f8f1f1;
	position: relative;
	padding: 100px 0 0 0;
	margin: 0 auto;
}

.btn-hello {
	text-decoration: none;
	border-radius: 10px;
	background-color: #11698e;
	padding: 15px 30px;
	margin: 200px;
	color: white;
	font-family: Rubik;
	font-size: 1.2rem;
	font-weight: 400;
	position: relative;
	top: 27rem;
}

.btn-hello:hover {
	text-decoration: none;
	border-radius: 10px;
	background-color: #16c79a;
	padding: 15px 30px;
	margin: 200px;
	color: white;
	font-family: Rubik;
	font-size: 1.2rem;
	font-weight: 400;
	position: relative;
	top: 27rem;
}
.topheader2 {
	color: #11698e;
	position: relative;
	bottom: 15px;
}

.pro {
	text-decoration: underline;
}

.image-web {
	position: absolute;
	right: 15rem;
	top: 2rem;
	width: 8rem;
}

.image-code {
	position: absolute;
	left: 10rem;
	bottom: 20rem;
	width: 6rem;
}

.laptop-image {
	padding-top: 0;
	margin: 0px auto;
}

/*Skill Page --------------------------------*/

.middle-container {
	padding: 0 50px;
	margin: auto;
}

.greatings-p {
	padding: 30px;
	width: 40%;
	margin: auto;
}

.profile-image {
	width: 10rem;
	margin: 100px auto 50px auto;
}

.skills {
	padding: 0 50px 1px 50px;
}

.skill-row {
	width: 50%;
	margin: 70px auto;
	text-align: left;
	line-height: 2;
	padding: 0;
}

.skillimage1 {
	width: 9rem;
	float: left;
	margin-right: 30px;
}

.skillimage2 {
	width: 10rem;
	float: right;
	margin-left: 30px;
}

/*Contact Page --------------------------------------------*/

.hr2 {
	margin-top: 2rem;
}

.contact-me {
	padding: 0 50px 100px;
	margin: 100px auto;
	padding-top: 0;
}

.contact-header {
	margin: 0 auto;
}

.btn {
	text-decoration: none;
	border-radius: 10px;
	background-color: #16c79a;
	padding: 15px;
	margin: 200px auto;
	color: white;
	font-family: Verdana Pro;
	font-size: 1.2rem;
	font-weight: 400;
	position: relative;
	top: 5rem;
}

.btn:hover {
	text-decoration: none;
	border-radius: 10px;
	background-color: #00FFC7;
	padding: 15px;
	margin: 200px auto;
	color: white;
	font-family: Verdana Pro;
	font-size: 1.2rem;
	font-weight: 400;
	position: relative;
	top: 5rem;
}

.footer-link {
	text-decoration: none;
	font-family: Poppins;
	font-size: 1.4rem;
	font-weight: 300;
	color: #16c79a;
	padding: 50px;
}

.footer-link:hover {
	text-decoration: none;
	font-family: Poppins;
	font-size: 1.4rem;
	font-weight: 300;
	color: #f8f1f1;
	padding: 50px;
}



.bottom-container {
	background-color: #11698e;
	padding: 40px;
}

.copyright {
	color: #f8f1f1;
	position: relative;
	top: 40px;
}

.inprogress-container {
	background-color: #f8f1f1;
	padding: 20rem 50px;
}

/*colors

#f8f1f1
#11698e
#19456b
#16c79a

*/
